<div class="container"><p>
    <h1>{{pokemon.name | titlecase }}</h1>
    <div class="container">
        <div class="row">
        <div >
            <carousel>
            <slide>
                <img src="{{ pokemon.sprites.other['official-artwork'].front_default }}" alt="First slide">
            </slide>
            <slide>
                <img src="{{ pokemon.sprites.other['official-artwork'].front_shiny }}" alt="First slide">
            </slide>
            </carousel>
        </div>
        </div>
  </div>
  






    
</div>
