.pokemon-box {
    background-color: white;
    width: 98%;
    padding: 5px;
    display: flex;
    box-shadow: gray 0 1px 5px;
    margin-bottom: 5px;
    border-radius: 5px;

}

.image {
    width: 25%;
}

.image img {
    width: 100%;
}

.pokemon-name {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-name h4, p {
    margin: 0;
}

.types {
    width: 48%;
    display: flex;
    flex-direction: row;
}

.types div {
    width: 33%;
}