<div class="white-container container">
    <p>{{pokemonSpecies.flavor_text_entries[0].flavor_text}}</p>
    <div class="lightgray-text">
        <p>Type</p>
        <p>Nummer</p>
        <p>Gewicht</p>
        <p>Hoogte</p>
        <p>Categorie</p>
        <p>Geslacht</p>
        <p>Vaardigheden</p>
    </div>
    <div>
        <div class="types" >
            <div *ngFor="let type of pokemon.types">
                 <p>{{type.type.name}}</p>
            </div>
        </div>
        <p>{{pokemon.order}}</p>
        <p>{{pokemon.weight}}kg</p>
        <p>{{pokemon.height}}</p>
        <p>{{pokemonSpecies.egg_groups[1].name}}</p>
        <p>genden</p>
        <p>{{pokemon.abilities[0].ability.name}}</p>
    </div>
</div>
