/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: SF Pro Display;
}

.container {
    border: 1px solid black;
    padding: 20px;
}


.lightgray-text {
    color:lightgray;
}